<% if !user_signed_in? %>
	<div class="center hero-unit">
	<h1 id="herotext">Welcome to ToDooDoo</h1>
	</div>
<% else %>

<% @lists.each do |list| %>

	<h2><%= link_to list.name, list_path(list) %></h2>
	<p><%= list.description %> - <%= link_to "Edit", edit_list_path(list) %> | <%= link_to "Delete", list_path(list), :method => :delete %></p> 

<% end %>

<% end %>